.about{
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}




@media screen and (max-width:600px) {
    .about{
       flex-direction: column;
    }

   
}

.aboutpara{
    max-width: 1024px;
}




