.memberShip{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4px;
}

.imgmember{
  object-fit: cover;
  width: 100%; 
}

.articleh{
    /* height: 100%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    padding: 5px 10px;
    width: 506px;
    /* max-width: 514px;
    min-width: 350px;
    width: 100%; */
    height: 200px;
    border-radius: 25px;
    box-shadow: -1px -1px 4px 4px lightgoldenrodyellow;
    margin-bottom: 15px;
    object-fit: cover;
    cursor: pointer;
}

@media screen and (max-width:516px) {
    .articleh{
       width: 460px;
    }
}

@media screen and (max-width:468px) {
    .articleh{
       width: 350px;
    }
}

.headerS{
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
    text-shadow: 3px 3px black;
}