.bodyReg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center; 
    padding-top: 20px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 300px; 
    width: 100%;
    background-image: radial-gradient(farthest-corner at 40px 40px, black 0%,purple 100% );
    
}

@media screen and (max-width:850px) {
    .bodyReg{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        padding-top: 20px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 300px; 
    }
}

