.pList{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.pListItem{
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    flex: 1;
}

.pListImg{
    width: 100%;
    max-width: 167px;
    height: 167px;
    object-fit: cover;
}

.pListTitle>h3{
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px grey; 
}

.pListTitle>h5{
    font-size: 14px;
    font-weight: 300;
  }