.loginfaccount{
    border-radius: 14px;
    border: none;
    width: 350px;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    background:linear-gradient(100deg, blue, green);
}

.alreadylf{
    color: white;
    font-weight: bold;
    font-size: 35px;
    padding-left: 8px;
}

@media screen and (max-width:550px) {
    .alreadylf{
       font-size: 27px;
       padding-left: 10px;
    }
}

.lfrbody{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-right: 8px;
}