.hotelContainer{
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
}

.hotelWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hotelUpper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hotelUpperLeft{
    justify-content: space-evenly ; 
    display: flex;
    flex-direction: column;
    padding: 3px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(207, 239, 248);
}

.hotelTitle{
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px yellowgreen;
    color: darkmagenta;
}

.hotelAddress{
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    color: navy;
    margin-bottom: 5px;
    size: 15px;
}

.hotelDistance{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
}

.siMN{
    font-weight: bold;
}

.hotelPriceHighlight{
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    width: max-content;
    padding: 4px;
}

.hoteltitle{
    font-weight: bold;
    font-size: 16px;
}

.hotelDesc{
    font-size: 15px;
    font-weight: 500;
}

.hotelImgs{
    display: flex;
   flex-wrap: wrap; 
   flex-direction: column;
   /* justify-content: space-between; */
    align-items: center;
    max-width: 1024px;
}

.hotelImgWrapper{   
    width: 100% ;
    max-width: 1024px;
}

.hotelImg{
    width: 100% ;
    max-width: 1024px;
    object-fit: cover ;
}

.hotelDetailsPrice{
    background: linear-gradient(130deg, lightcyan, lightblue);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(192, 191, 191);
}

.hotelDetailsPrice>h3{
    font-size: medium;
    color: brown;
}

.hotelDetailsPrice>span{
    font-size: medium;
    color:green;
    font-weight: bold;
}

.hotelDetailsPrice>button{
    background: linear-gradient(130deg, darkred, darkviolet);
    font-size: medium;
    color:white;
    font-weight: bold;
    padding: 4px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.divIcons{
    padding: 30px;
    background: linear-gradient(130deg, lightgray, lightgrey ); 
    width: 1024px;
   color: navy;
    display: flex;
    justify-content: space-between;
   flood-color: aqua;
}

.iconName{
    display: flex;
    flex-direction: column;
}

.iconN{
    font-size: 14;
}

.icon{
    cursor: pointer;
    font-size: 26px; 
}

.slider{
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.426) ;
    z-index: 999;
    display: flex;
    align-items: center;

}

.sliderWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderImg{
    width: 80%;
    height: 80vh;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: lightgrey;
    cursor: pointer;
}

.arrow{
    margin: 20px;
    font-size: 50px;
    color: lightgrey;
    cursor: pointer;
}