.link{
    text-decoration: none;
}

.home{
   background: linear-gradient(170deg ,lightgreen, lightcyan )
}

.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 4px;
}

.homeTitle{
    width: 1024px;
    font-size: 20px;
}

.corousel{
 width: 1024px;
background-color: black;
}

.cimg{
    margin-left: 5px;
    margin-right: 5px;
}