.contactCareer{
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerCareer{
    margin: 3rem;
}

.careerImg{
    height: 450px;
}

@media screen and (max-width:600px) {
    .careerImg{
      height: 250px;      
    }
}