.searchListResult{
    flex: 3;
}

.searchItem{
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px; 
    display: flex;
}

.siImg{
    width: 220px;
    height: 260px;
    object-fit: cover;
}

.siDesc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.siTitle{
    font-size: 20px;
    color: purple;
}

.siCity{
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px grey;
}

.siDistance{
    font-size: 13px;

}

.siTaxiOp{
    font-size: 12px;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    width: max-content;
    padding: 3px;
    border-radius: 3px;
}

.siSubtitle{
    font-size: 12px;
    font-weight: bold;
}

.siFeatures{
    font-size: 13px;
}

.siCancelOp{
    font-size: 13px;
    font-weight: bold;
    color: darkblue ;
}

.siCancelOpSubtitle{
    font-size: 12px;
    color:blue ;
}

.siDetails{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.siRating{
    display: flex;
    justify-content: space-between;

}

.siRating>span{
    font-weight: 500;
}

.siRating>button{
    background: linear-gradient(90deg, navy, green);
    color: white;
    padding: 5px; 
    font-weight: bold;
    border: none;
}

.siDetailText{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.siM{
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

.siPriceOffer{
    font-size: 21px;
}

.siPriceActual{
    font-size: 16px;
    text-decoration: line-through;
    color: orangered;
}

.siTaxOp{
    font-size: 13px;
    color: gray;
}

.siCheckButton{
  /*  background: linear-gradient(90deg, navy, darkgreen ); */
    background-color: navy;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 4px;
    cursor: pointer;
}