.memPlans{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.memTexts{
    color: black;
    padding: 3px;
    margin: 30px;
    font-size: 20px;
}