.mail{
    width: 100%;
    max-width: 1024px; 
    margin-top: 40px;
    background: linear-gradient(130deg, darkgreen, darkviolet );
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;
    padding: 50px;
}

  @media screen and (max-width:650px) {
       .mail{
         align-items: flex-start;
       }
    } 

.mailInputContainer>input{
   width: 300px;
   height: 39px;
   padding: 10px;
   border: none;
   margin-right: 10px;
   border-radius: 10px;
}

.mailInputContainer>button{
    height: 40px;
    background-color: lightgreen;
    border-radius: 10px;
    color: darkviolet;
    font-weight: bold;
    border: none;
    cursor: pointer;
}