.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 750px;
    width: 100%;
    padding: 5px;
}

.contactimg3{
    margin-top: 10px;
    cursor: pointer;   
    margin-bottom: 150px;
}

.mapImg{
    height: 450px;
    width: 590px;
}



@media screen and (max-width:650px) {
    .contact{
        flex-direction: column;
        gap: 20px;    
    }

    .contactimg3{
        margin-bottom: 20px;
    }

    .mapImg{
        height: 290px;
        width: 340px;  
      }

}



